audioread==3.0.1
av==12.3.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
coloredlogs==15.0.1
ctranslate2==4.5.0
decorator==5.1.1
docopt==0.6.2
faster-whisper==1.0.3
filelock==3.16.1
flatbuffers==24.3.25
fsspec==2024.10.0
huggingface-hub==0.26.2
humanfriendly==10.0
idna==3.10
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
mosestokenizer==1.2.1
mpmath==1.3.0
msgpack==1.1.0
numba==0.60.0
numpy==2.0.2
onnxruntime==1.19.2
openfile==0.0.7
packaging==24.1
platformdirs==4.3.6
pooch==1.8.2
protobuf==5.28.3
pycparser==2.22
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
soundfile==0.12.1
soxr==0.5.0.post1
sympy==1.13.3
threadpoolctl==3.5.0
tokenizers==0.20.1
toolwrapper==2.1.0
tqdm==4.66.6
typing_extensions==4.12.2
uctools==1.3.0
urllib3==2.2.3
